  <style>

      body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation: change-background 8s ease infinite;
}
/* Keyframes */
@keyframes change-background {
  0% {
    background: #69b7eb;
  }
  25% {
    background: #b3dbd3;
  }
  50% {
    background: #f4d6db;
  }
  75% {
    background: #b3dbd3;
  }
  100% {
    background: #69b7eb;
  }
}

.code{
  width: 100%;
  position: relative;
  width: 60%;
  margin: 4% auto;
  min-width: 300px;
  overflow: hidden;
}

.code pre{
  background: #eee;
  border-radius: 6px;
  padding: 0 20px;
}

.highlight {
  /* animation: move-highlight 4s linear infinite; */
  height: 200px;
  width: 200px;
  background: rgba(29, 18, 18, 0.2);
  position: absolute;
  top: 40px;
  left: 40px;;
}

.highlight:hover{
  animation-play-state: paused;
}

      </style>

  <div class="code">
    <div class="highlight">asd</div>
  </div>
  