  <style>   
       @keyframes change-rectangle {
        0% {
          background: #69b7eb;          
          transform:  rotateY(0deg), scale(1);
        }
        25% {
          background: #b3dbd3;
          transform: rotateY(180deg) scale(0);
        }
        50% {
          background: #f4d6db;
          transform: rotateY(0deg) scale(1);

        }
        75% {
          background: #b3dbd3;
          transform: rotateY(180deg) scale(1);
        }
        100% {
          background: #69b7eb;
          transform: rotateY(0deg) scale(1);          
        }
      }    

      .highlight {
        outline: 2px solid #000;
        height: 200px;
        width: 200px;
        background: rgba(29, 18, 18, 0.2);
        position: absolute;
        top: 40px;
        left: 40px;        
        animation: change-rectangle 6s ease infinite;
      }

      .MainRec {
        outline: 5px solid #000;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 40px;
        left: 40px;
      }

      .SecondRec {
        outline: 5px solid #000;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 400px;
        left: 40px;
        transform-style: preserve-3d;
      }

      .main-box {
        position: absolute;
        top: 400px;
        left: 100px;
        width: 100px;
        height: 100px;
        border: 2px solid #463E48;
        /* Подключаем свойство transform-style для 3D */
        transform-style: preserve-3d;
        /* Подключаем анимацию для вращения и обзора */
        animation: main-rotate 5s infinite linear;
      }
/* Наружний квадрат */
      .outer {
        position: absolute;        
        width: 100px;
        height: 100px;
        /* Прозрачность для лучшего визуального восприятия */
        opacity: 0.7;
      }
/*Внутренний квадрат*/
      .interior {
        /* Отодвигаем внурь и уменьшаем масштаб */
        transform: translateZ(-5em) scale(0.8);
        background: #463E48;
      }
/* Анимация вращение вокруг вертикальной оси*/
@keyframes main-rotate {
100% {
transform: rotateY(360deg);}}
      </style>

  <div class="code">
    <div class="highlight">фывфыв</div>
    <div class="MainRec"></div>

    <div class="main-box">
        <div class="interior outer"></div>
    </div>
  </div>
  