body {
  text-align: center;
}

#Header {
  background-color: khaki;
  height: 10%;  
}

#LeftSidebar {
  float: left;
  width: 10%;
  height: 80%;
  background-color: pink;
}

#Content {
  height: 80%;
  width: 100%;
  left: 100px;
  background-color: greenyellow;
}

#RightSidebar {
  float: right;
  width: 10%;
  height: 80%;
  background-color: pink;
}

#Footer {
  bottom: 0px;
  height: 10%;
  background-color: khaki;
}