.short{
  width: 40%;
  float: left;
  padding: 5px;
  margin: 10px;
  min-width: 150px;
}

.flex{ display: flex; }

.wide{
  clear: both;
}

#wrapper{
  width: 80%;
  margin: 0 auto;
}
#wrapper form{
  max-width: 600px;
  margin: 0 auto;
  min-width: 250px;
}

.blue{
  background-color: cornflowerblue;
}

.purpure{
  background-color: darkslateblue;
}

.green{
  background-color: darkslategrey;
}

.orange{
  background-color: coral;
}

.wide textarea {
  margin: 5px;
  width: 90%;
  height: 100px;
}
