body {
  color: #FFFAD5;
}
.boxes {
  display: table;
  width: 100%;
  height: 100%;
}
.box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 13em;
}
.box1 {
  background: #BD4932;
}
.box2 {
  background: #105B63;
}
.box3 {
  background: #FFD34E;
}
@media (max-width: 420px) {
  .box {
    display: block;
    width: 100%;
  }
}

/* базовые стили */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
button {
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  -webkit-appearance: none;
  background: #BD4932;
  outline: none;
  border: 2px solid #DB9E36;
  color: #FFD34E;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
button:active {
  border-color: #FFFAD5;
  color: #FFFAD5;
}
