.MyButton {
  line-height: 30px;
  background-color: cornflowerblue;
  color: white;
  height: 30px;
  width: 400px;
  padding: 10px;
  outline: 2px solid white;
}

#left {
  text-align: left;
}

#center {
  text-align: center;
}

#right {
  text-align: right;
}

.SecondFloor{

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.MyButton2 {

  line-height: 30px;
  background-color: cornflowerblue;
  color: white;
  height: 30px;
  width: 237px;
  padding: 10px;
  outline: 2px solid white;
}
