body {
  height: 100%;
  width: 100%;
  text-align: center;
}

#Header {
  display: flex;
  background-color: khaki;
  height: 10%;
  width: 100%;
}

#LeftSidebar {
  width: 100px;
  background-color: pink;
}

#Content {
  height: 40%;
  width: 100%;
  background-color: greenyellow;
}

#RightSidebar {
  width: 100px;
  background-color: pink;
}

#Footer {
  display: flex;
  height: 10%;
  background-color: khaki;
}