<form>
  <div class="line">
    <input type="email" value="example@" required />
    <div>
      <a>link</a>
      <span>text</span>
      <span>text</span>
    </div>
  </div>

  <style> form>div:not([class]) div span:nth-child(3n+2) {
        color:rgb(255, 0, 0);
       } </style>

  <div>
    <input type="email" value="example@gmail.com" required />
    <div>
      <a>link</a>
      <span>text</span>
      <!-- этот -->
      <span>text</span>
      <span>text</span>
      <span>text</span>
      <!-- этот -->
      <span>text</span>
    </div>
  </div>

  <div class="line">
    <input type="email" value="example@gmail.com" required />
    <div>
      <a>link</a>
      <span>text</span>
      <span>text</span>
      <div>
        <input type="email" value="example@gmail.com" required />
        <div>
          <a>link</a>
          <span>text</span>
          <span>text</span>
        </div>
      </div>
    </div>
  </div>
</form>
