/* body {
  height: 100%;
  width: 100%;
  text-align: center;
} */

.asd{
  display: block;
}

#Header {  
  height: 150px;
  background-color: khaki;
}

#LeftSidebar {
  vertical-align: top;
  width: 10%;
  height: 80%;
  display: inline-block;
  background-color: pink;
}

#Content {
  display: inline-block;
  height: 80%;
  width: 70%;
  background-color: greenyellow;
}

#RightSidebar {
  vertical-align: top;
  width: 19%;
  height: 80%;
  display: inline-block;
  background-color: pink;
}

#Footer {

  height: 10%;
  background-color: khaki;
}
