.circle1 {
  width: 100px;
  height: 100px;
  background: rgb(223, 47, 47);
  border-radius: 50%;
  position: absolute;
  left: 23px;
}

.circle2 {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}
