div {
  position: absolute;
}

#Header,
#Content,
#LeftSidebar,
#Footer,
#RightSidebar {
  box-shadow: 0 0 5px black;
}

#Header {
  width: 99%;
  height: 150px;
  background-color: khaki;
  text-align: center;
}

#LeftSidebar {
  background-color: pink;
  text-align: center;
  width: 20%;
  height: 64%;
  top: 165px;
}

#RightSidebar {
  background-color: pink;
  text-align: center;
  width: 20%;
  height: 64%;
  top: 165px;
  right: 0.5%;
}

#Footer {
  width: 99%;
  height: 100px;
  bottom: 0;
  background-color: khaki;
  text-align: center;
}
#Content {
  left: 21%;
  background-color: greenyellow;
  height: 64%;
  width: 58%;
  top: 165px;
  text-align: justify;
}
