div {
        position: absolute;
      }

      #header1,
      #header2,
      #header3,
      #col1,
      #col2,
      #col3 {
        width: 31%;
        box-shadow: 0 0 5px black;
        padding: 5px;
        font-family: "Comic sans MS";
        margin: 1%;
      }

      #col1,
      #col2,
      #col3 {
        top: 50px;
        text-align: justify;
      }

      #header1 {
        background-color:  burlywood;
        color: white;
        left: 0;
      }
      #col1 {
        background-color: wheat;
        left: 0;
      }

      #header2 {
        background-color: green;
        color: white;
        left: 33%;
      }
      #col2 {
        left: 33%;
        background-color: greenyellow;
      }

      #header3 {
        background-color: cornflowerblue;
        color: white;
        right: 0;
      }
      #col3 {
        right: 0;
        background-color: skyblue;
      }