body {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}

#Header {
  display: table-row;
  background-color: khaki;
  height: 10%;
  width: 100%;
}

#LeftSidebar {
  width: 10%;
  height: 600px;
  display: table-cell;
  background-color: pink;
}

#Content {
  display: table-cell;
  height: 100%;
  width: 100%;
  background-color: greenyellow;
}

#RightSidebar {
  width: 10%;
  display: table-cell;
  background-color: pink;
}

#Footer {
  display: table-row;
  height: 10%;
  background-color: khaki;
}
